body {
	background: #1a1a1a;
	color: #ecf0f1;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #95a5a6;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

.header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
	border-bottom: 1px solid #F54246;
}

section {
	padding: 4em 2em;
	text-align: center;
}

section h2 {
	font-weight: 300;
	font-size: 2em;
	padding: 1em 0;
}

.box {
	width: 300px;
	height: 460px;
	position: relative;
	background: #F54246;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	color: black;
	box-shadow: inset 0 0 0 ;
	-webkit-transition: background 0.8s 0.8s;
	transition: background 0.8s 0.8s;
}

.box:hover {
	background: rgba(0,0,0,0.4);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.box h3 {
	font-family: 'Lato', sans-serif;
  font-weight: 300;
	font-size: 50px;
	line-height: 370px;
	margin: 0;
	font-weight: 400;
	width: 100%;
	color: #fff
}

.box span {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 5px;
}

.box h3,
.box span {
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
	color: #F54246;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.box svg {
	position: absolute;
	top: 0;
	left: 0;
}

.box svg line {
	stroke-width: 10;
	stroke: #ecf0f1;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
	stroke-dasharray: 330 240;
}

.box svg line.left,
.box svg line.right {
	stroke-dasharray: 490 400;
}

.box:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}

.box:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}

/* animatie 2 */
.sideanimation .box {
	background: ;
	color: #F54246;
	box-shadow: none;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.sideanimation .box:hover {
	background: rgba(0,0,0,0.4);
}

.sideanimation .box h3,
.sideanimation .box span {
	-webkit-transition: none;
	transition: none;
}

.sideanimation .box svg line {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.sideanimation .box:hover svg line {
	stroke-width: 10;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.sideanimation .box:hover svg line.top {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
}

.sideanimation .box:hover svg line.bottom {
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

.sideanimation .box:hover svg line.left {
	-webkit-transform: translateY(460px);
	transform: translateY(460px);
}

.sideanimation .box:hover svg line.right {
	-webkit-transform: translateY(-460px);
	transform: translateY(-460px);
}
